<md-grid-list cols="2">
  
  <md-grid-tile >

    <md-card class="item-card">
      <img md-card-image class="img-title" src="{{ itemDetails.imgUrl }}">
      <md-card-content>
        <md-card-title class="md-card-t">{{ itemDetails.title }}</md-card-title>
        <p *ngIf="curStatus == 'view'">Price: <b>{{ itemDetails.price }}</b></p>
        <p *ngIf="curStatus == 'buy'" class="added-to-cart"><b>Product added to cart</b></p>
        <p>{{ itemDetails.description }}</p>
      </md-card-content>

      <md-card-actions>
        <button md-button routerLink="/items-list">Get back</button>
      </md-card-actions>

    </md-card>
 
  </md-grid-tile>

</md-grid-list>
