.app-content {
    margin: 50px auto; 
    max-width: 884px;
 }
 .item-card {
   max-width: 260px;
   /* margin-bottom: 50px;  */
 }
 .example-form {
     margin-bottom: 50px;
 }

 .prod-details {
     color: darkgrey;
 }

 .added-to-cart {
     color: green;
     font-weight: bold;
     font-size: 20px;
     text-decoration: underline;
 }

 .md-card-t {
    font-size: 22px;
    font-weight: bold;
    color: darkcyan;
 }

 .img-title {
     width: 70%;
     height: 70%;
 }