<md-grid-list cols="4" rowHeight="500px">
  
  <md-grid-tile *ngFor="let item of itemsList">

    <md-card class="item-card">
      <img md-card-image src="{{ item.imgUrl }}">
      <md-card-content>
        <md-card-title>{{item.title}}</md-card-title>
        <p><b>Proce: {{item.price}}</b></p>
      </md-card-content>

      <md-card-actions>
        <button md-button><a routerLink="item/{{ item.id+'/view' }}">Review details</a></button>
        <button md-button><a routerLink="item/{{ item.id+'/buy' }}">Buy</a></button>
      </md-card-actions>

    </md-card>
 
  </md-grid-tile>

</md-grid-list>

<!-- <router-outlet></router-outlet> -->